* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #dac5a7;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  #root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
