.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: black;
  height: 48px;
  width: 100%;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
